// File name: Square\SquareGame.vm
// line 19: class SquareGame { 
// line 19: field Square square 
// line 20: field direction 
// line 21: constructor SquareGame new 
// line 25: ( ) { 
function SquareGame.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 0
push constant 0
push constant 30
call Square.new 3
pop this 0
// line 25: let square = Square . new ( 0 , 0 , 30 ) ; 
push constant 0
pop this 1
// line 28: let direction = 0 ; 
push pointer 0
return
// line 29: return this ; 
// line 31: } method void dispose 
// line 34: ( ) { 
function SquareGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Square.dispose 1
pop temp 0
// line 34: do square . dispose ( ) ; 
push pointer 0
call Memory.deAlloc 1
pop temp 0
// line 35: do Memory . deAlloc ( this ) ; 
push constant 0
return
// line 36: return ; 
// line 38: } method void moveSquare 
// line 41: ( ) { 
function SquareGame.moveSquare 0
push argument 0
pop pointer 0
push this 1
push constant 1
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
// line 41: if ( direction = 1 ) { 
push this 0
call Square.moveUp 1
pop temp 0
// line 42: do square . moveUp ( ) ; 
// line 42: } 
label IF_FALSE6
push this 1
push constant 2
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
// line 42: if ( direction = 2 ) { 
push this 0
call Square.moveDown 1
pop temp 0
// line 43: do square . moveDown ( ) ; 
// line 43: } 
label IF_FALSE7
push this 1
push constant 3
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
// line 43: if ( direction = 3 ) { 
push this 0
call Square.moveLeft 1
pop temp 0
// line 44: do square . moveLeft ( ) ; 
// line 44: } 
label IF_FALSE8
push this 1
push constant 4
eq
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
// line 44: if ( direction = 4 ) { 
push this 0
call Square.moveRight 1
pop temp 0
// line 45: do square . moveRight ( ) ; 
// line 45: } 
label IF_FALSE9
push constant 5
call Sys.wait 1
pop temp 0
// line 45: do Sys . wait ( 5 ) ; 
push constant 0
return
// line 46: return ; 
// line 48: } method void run 
// line 51: ( ) { 
// line 51: var key ; 
// line 52: var exit ; 
function SquareGame.run 2
push argument 0
pop pointer 0
push constant 0
pop local 1
// line 53: let exit = false ; 
label WHILE_EXP0
push local 1
not
not
if-goto WHILE_END0
label WHILE_EXP1
push local 0
push constant 0
eq
not
if-goto WHILE_END1
call Keyboard.keyPressed 0
pop local 0
// line 54: while ( ~ exit ) { while ( key = 0 ) { let key = Keyboard . keyPressed ( ) ; 
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
// line 59: do moveSquare ( ) ; 
goto WHILE_EXP1
label WHILE_END1
// line 60: } 
push local 0
push constant 81
eq
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
// line 61: if ( key = 81 ) { 
push constant 0
not
pop local 1
// line 62: let exit = true ; 
// line 62: } 
label IF_FALSE10
push local 0
push constant 90
eq
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
// line 62: if ( key = 90 ) { 
push this 0
call Square.decSize 1
pop temp 0
// line 63: do square . decSize ( ) ; 
// line 63: } 
label IF_FALSE11
push local 0
push constant 88
eq
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
// line 63: if ( key = 88 ) { 
push this 0
call Square.incSize 1
pop temp 0
// line 64: do square . incSize ( ) ; 
// line 64: } 
label IF_FALSE12
push local 0
push constant 131
eq
if-goto IF_TRUE13
goto IF_FALSE13
label IF_TRUE13
// line 64: if ( key = 131 ) { 
push constant 1
pop this 1
// line 65: let direction = 1 ; 
// line 65: } 
label IF_FALSE13
push local 0
push constant 133
eq
if-goto IF_TRUE14
goto IF_FALSE14
label IF_TRUE14
// line 65: if ( key = 133 ) { 
push constant 2
pop this 1
// line 66: let direction = 2 ; 
// line 66: } 
label IF_FALSE14
push local 0
push constant 130
eq
if-goto IF_TRUE15
goto IF_FALSE15
label IF_TRUE15
// line 66: if ( key = 130 ) { 
push constant 3
pop this 1
// line 67: let direction = 3 ; 
// line 67: } 
label IF_FALSE15
push local 0
push constant 132
eq
if-goto IF_TRUE16
goto IF_FALSE16
label IF_TRUE16
// line 67: if ( key = 132 ) { 
push constant 4
pop this 1
// line 68: let direction = 4 ; 
// line 68: } 
label IF_FALSE16
label WHILE_EXP2
push local 0
push constant 0
eq
not
not
if-goto WHILE_END2
call Keyboard.keyPressed 0
pop local 0
// line 68: while ( ~ ( key = 0 ) ) { let key = Keyboard . keyPressed ( ) ; 
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
// line 72: do moveSquare ( ) ; 
goto WHILE_EXP2
label WHILE_END2
// line 73: } 
goto WHILE_EXP0
label WHILE_END0
// line 74: } 
push constant 0
return
// line 75: return ; 
